# Version control & CI
.git
.gitignore
.gitattributes
.github

# IDEs & local development
.idea
.vscode
.history
.sdkmanrc

# Build systems, caches & compiled outputs
.gradle
**/.gradle
build
**/build
out
**/out
bin
**/bin
target
**/target

# Development tooling, tests & infrastructure
.config
tools
newman
k6
wiremock
migrate-mongo
infra
Taskfile.yaml
docker-compose.yaml
docker-compose*.yaml

# Environment & documentation
.env
.env.*
*.log
README.md
docs

